body {
    background-color: lightgray;
}
.inscription {
    background-color: lightblue;
}
.contact {
    background-color: lightgreen;
}
.preferences {
    background-color: lightyellow;
}
